{# footer.html.twig #}
<div class="footer-logo">
  <div class="logo">
    <a href='/'>
      <image src="{{ base_path }}{{ directory }}/images/logo.png" alt="">
    </a>
  </div>
</div>
<nav class="footer-menu">
  {{ page.menu }}
</nav>