{# page-home.html.twig #}
<div class="home-blocks">
  <div class="block-latest-news">
    {{ page.content['calibrate_views_block__latest_news_block_1'] }}
  </div>
  <div class="block-latest-articles">
		{{ page.content['calibrate_views_block__latest_articles_block_1'] }}
  </div>
</div>