{# page-menu.html.twig #}
<div class="menu-row">
  <div class="logo">
    <a href='/'>
      <image src="{{ directory }}/images/logo.png" alt="">
    </a>
  </div>
  <nav class="menu">{{ page.menu }}</nav>
</div>