<header class="site-header">
  {{ page.header }}
</header>

<main>
  <div class="container">
    {% include '@calibrate/page-menu.html.twig' %}

    {% include '@calibrate/page-header.html.twig' %}

    <div class="content">
      {% if is_front %}
        {% include '@calibrate/page-home.html.twig' %}
      {% else %}
        {% include '@calibrate/page-back.html.twig' %}

        {% include '@calibrate/page-news-search.html.twig' %}

        {{ page.content }}
      {% endif %}
    </div>
  </div>
</main>

<footer>
  {% include '@calibrate/footer.html.twig' %}
</footer>

<div class="created-by">
  <p>{{ 'Site created by Paulo'|trans }}</p>
</div>