{# page-footer.html.twig #}
<footer>
  <div class="footer-logo">
    <div class="logo">
      <a href='/'>
        <image src="{{ directory }}/images/logo.png" alt="">
      </a>
    </div>
  </div>
  <nav class="footer-menu">
    {{ page.menu }}
  </nav>
  <div class="footer-language">
    {{ page.calibrate_languageswitcher }}
  </div>
</footer>