.home-blocks {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	gap: 2rem;
	
	h2 {
		margin: 2rem 0;
	}

	.block-latest-news,
	.block-latest-articles {
		border: 1px solid $primary-color;
		padding: 0 2rem;
	}

	.views-row{
		border-bottom: .6px solid $primary-color;
		border-color: gray;
		margin-bottom: 1rem;

		.views-field-title {
			margin: 0;

			.field-content {
				font-size: 1.2rem;
			}
		}

		&:last-of-type {
			border-bottom: none;
		}
	}
	
	.more-link {
		display: flex;
		justify-content: flex-end;
	
		a {
			text-decoration: none;
			color: $primary-color;
			margin-bottom: 1rem;
		}
	}
}

@media (max-width: 768px) {
	.home-blocks {
		gap: 1rem;
		flex-direction: column;
	}

	.views-row {
		margin-bottom: 1rem;
	}
}