.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;

  a,
  .pager-current {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    color: #333;
    text-decoration: none;

    &.pager-current {
      background-color: #3498db;
      color: white;
    }

    &:hover {
      background-color: #3498db;
      color: white;
    }
  }
}