.content .views-view-responsive-grid {
	display: grid;
	grid-template-columns: repeat(3, minmax(100px, 1fr));
	gap: 30px;

	@media (max-width: 992px) {
		grid-template-columns: repeat(2, minmax(100px, 1fr));
	}

	@media (max-width: 769px) {
		grid-template-columns: repeat(1, minmax(100px, 1fr));
	}
}

.content {
	padding: 0;

	.node-articles,
	.node-news,
	.node-offices {
		margin-bottom: 4rem;
	}

	.title {
		color: $primary-color;
		font-size: 1.4rem;
	}
	
	.views-view-responsive-grid__item {
		display: flex;
		flex-direction: column;
		overflow: hidden;
	}

	.views-view-responsive-grid__item-inner {
		display: flex;
		flex-direction: column;
	}
	
	.views-field-title, 
	.views-field-title-1 {
		text-align: start;
		margin-bottom: 1.4rem;
		font-size: 1.2rem;
		a {
			color: $link-dark-color;
			text-decoration: none;
		}
	}
	
	.views-field-field-article-image, 
	.views-field-field-article-image-1 {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.views-field-field-article-image, 
	.views-field-field-news-image,
	.views-field-field-office-image {
		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
			display: block;
		}
	}

	#block-calibrate-views-block-related-articles-block-1 {
		h2 {
			order: 0;
			flex: 1;
		}

		.more-link {
			display: flex;
			justify-content: flex-end;
			order: 1;
			flex: 2;

			a {
				text-decoration: none;
				color: $primary-color;
				margin: 2rem 0;
			}
		}

		.views-field-title {
			margin: 2rem 0 0 0;
		}
	}
}