@import './_variables';
@import './_fonts';
@import './article-facet';
@import './_details';
@import './_facets';
@import './_footer';
@import './header';
@import './_home';
@import './language-switcher';
@import './_news-facet';
@import './_office-facet';
@import './_menu';
@import './_page';
@import './_pager';

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5 {
	font-weight: 300;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 4rem;
}

.node__title,
.views-field__title {
  font-size: 1rem;
  font-weight: bold;
  color: $primary-color;
  margin-bottom: 1rem;
}

.created-by {
	text-align: right;
	padding-right: 2rem;
	
	p {
		font-size: .8rem;
	}
}